<!DOCTYPE html>
<html>

<body>
  <h1>Lander Pinboard.</h1>
  <p>The most convenient way to buy or sell your textbook.</p>
        <p> 
          <br>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Join Now", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
        </p>

         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

   

    <div class="textbooks for sale">
    <div class="container">
    <h2>How it Works</h2>
    <h3><pre>For Sellers:  1. Post your book  2. Wait for offers by email or text  3. Complete the sale</pre><pre>For Buyers:  1. Search by title or ISBN #  2. Choose which book you like  3. Complete the sale</pre></h3>
  </div>
</div>
</body>

</html>


  
<style>

body {
  background-image:url("http://farm3.staticflickr.com/2853/9728900510_7844d7828e_b.jpg");
  background-repeat: no-repeat;
  background-size: 1450px;
  background-position: relative;
}



h1 {
  padding-top: 200px;
  font-family: "Arial Black", Gadget, sans-serif; 
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

h2 {
  font-size: 50px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}
pre {
  font-family: "Arial Black", Gadget, sans-serif;
}
.textbooks {
  padding-top: 300px;
  text-align: center;
  padding-bottom: 25px;
  color: black;
  font-size: 15px;
  font-family: 'Shift', sans-serif;
} 
  </style> 
  