<div class="jumbotron center">
<div class="container">
        <h1>Looking To Sell Your Textbook?</h1>
        <p>Sell directly to a Lander student. No fees. No shipping. 100% profit.</p>
        <p> 
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
        </p>
      </div>
    </div> 
    <div class="textbooks for sale">
    <div class="container">
    <h2>Lander Marketplace</h2>
    <p>It's super easy to buy and sell textbooks. Simply post the name of your book, a price, and contact information.</p>
  </div>
</div>

  
<style>

.jumbotron {
  background-image:url("http://i.imgur.com/Vl354qe.jpg?3?3552");
  height: 510px;
}

.jumbotron .container {
  position: relative;
  top:110px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 50px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 21px;
  color: #fff;
}
.textbooks {
  text-align: center;
  padding-bottom: 25px;
  color: black;
    font-size: 15px;
    font-family: 'Shift', sans-serif;
} 
  </style> 
  