<div class="jumbotron center">
<div class="container">
        <h1>Finally, a Place to buy and sell</h1>
        <p>No more posting your textbooks on a messy pinboard. There's an app for that. </p> 

<style>
.jumbotron {
  background-image:url("http://i.imgur.com/LsxOWtp.jpg?1?7745");
  height: 520px;
}

.jumbotron .container {
  position: relative;
  top:110px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}");
  height: 510px;
}

.jumbotron .container {
  position: relative;
  top:110px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
</style>